<button mat-raised-button color="primary" data-toggle="modal" data-target="#blogModal"> Add Blog </button>
<!--form modal-->
<div class="modal fade" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="blogForm" class="example-form" (ngSubmit)=onSubmit()>
          <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" #title>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author" #author>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" #date>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Content</mat-label>
            <input matInput formControlName="content" #content>
          </mat-form-field>
          <!-- <div>
            <quill-editor placeholder="Enter Text"
            formControlName="content">
                </quill-editor>
          </div> -->
          <div class="modal-footer">
            <button type="button" mat-raised-button color="warn" data-dismiss="modal">Close</button>
            <button mat-raised-button color="primary" (click)="reset()">Reset</button>
            <button mat-raised-button color="accent" [disabled]="blogForm.pristine || blogForm.invalid"> Save </button>
          </div>
         
        </form>
      </div>
    </div>
  </div>
</div>

<!--loader-->
<div class="loader text-center" *ngIf="loading else loaded">
 <h1> Loading data... </h1>
</div>

<ng-template #loaded>
  <!--data -->
<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12" *ngFor="let item of blog">
    <div class="card-area">
        <div class="title-area">
          <div class="title">
            <h6> {{item.title}}</h6>
            <div class="user-info">
             <p>  <span class="material-icons">perm_identity</span> {{item.author}}</p>
            </div>
          </div>
        </div>
        <div class="content-area content">
          <p> {{item.date | date}}</p>
          <!-- <ngx-simplebar [options]="options">
            <p> {{item.content}}</p>
          </ngx-simplebar> -->
          <div class="blog-content">
            <p> {{item.content}}</p>
          </div>
          <div class="read-all">
            <button matTooltip="Read More" data-toggle="modal" [attr.data-target]="'#' + item.title"> <span class="material-icons">arrow_right_alt</span> </button>
          </div>
          <!--read more modal start here-->
          <div class="modal fade" [attr.id]='item.title' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{item.title}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <ngx-simplebar [options]="options">
                     <p> {{item.content}}</p>
                   </ngx-simplebar> 
                </div>
                <div class="modal-footer">
                  <button type="button" mat-raised-button color="warn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
           <!--read more modal end here-->
          <button type="button" mat-raised-button color="warn" (click)="delete(item._id)"><span class="material-icons">
            delete</span></button>
            <button type="button" mat-raised-button color="primary" (click)="edit(item._id)"><span class="material-icons">
              edit</span></button>
      </div>
    </div>
  </div>
  </div>
</ng-template>

